body {
    background-color: rgb(0, 0, 0);
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrolling on the entire page */
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 15vh); /* Set container height to viewport height */
}

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(244, 244, 244);
}
#devkrish{
  margin-left: 120px;
  margin-top:0;
  margin-bottom: 0;
}
h1{
  margin-top:10px;
  margin-bottom: 0;
}
.left {
    display: grid;
    grid-template-rows: 1fr 5fr;
    overflow: auto; /* Add scrollbar if content overflows */
    position: relative; /* Adjust position */
    z-index: 2; /* Ensure it's above the .end div */
 
}

.nav,
.local {
    background-color: rgb(36, 36, 36);
    margin: 10px;
    margin-bottom: 0;
    margin-right: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    
}

.local{

  margin-top: 5px;
  margin-bottom: 10px;
}

.home{
  display: flex;
  text-decoration: none ;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin:20px;
  margin-left:40px ;
}
a{
color:white;
}
.search {
  position: relative;
  width: 48%; /* Adjust width as needed */
  
}

#searchInput {
  width: 100%;
  height: 5px;
  padding: 10px 40px ; /* Adjust padding to accommodate the icon */
  border: 1px solid #00000000;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  margin-left:40px ;
  color: white;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}
.search,.search-icon:hover {
color:white;
}
#queue{
  margin: 10px;
  margin-left: 60px;
}
.qbox{
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;

}
.qbox:hover{
  background-color: rgb(108, 108, 108);
}
.q-img-container{
  width: 150px;
}

.q-img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.qdetails{
  width: 100%;
  left: 0;
}
.qdetails h3{
  font-size: 18px;
  margin-top: 1px;
  margin-bottom: 2px;
}
.qdetails p{
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    margin-left: 0;
    padding-left: 4%;
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    position: relative; /* Adjust position */
    z-index: 2; /* Ensure it's above the .end div */
}

.song-box {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.song {
  position: relative;
  border: 1px solid #ccc;
  
}

.song-options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.options {
  display: none;
  position: absolute;
  width: 120px;
  top: 2px;
  right: 6px;
  background-color: #41414179;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu:hover .options {
  display: block;
}

.options div {
  padding: 5px 10px;
  cursor: pointer;
}

.options div:hover {
  background-color: #f0f0f0;
}

#Add-to-Queue,#play-now{
  font-size: 12px;
}

.song img{
    width: 90%;
    object-fit: cover;
    border-radius: 10px;

}



.end {
    position: fixed; /* Fix the div at the bottom of the viewport */
    bottom: 0; /* Adjust distance from the bottom */
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    max-height: calc(100vh - 40px); /* Set maximum height to fit remaining viewport minus margins */
    width: calc(100% - 20px); /* Adjust width to fit viewport minus margins */
    margin: 10px;
}
.player{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;

    padding: 10px;
    
    border-radius: 10px;
}
.current-song{
    display: flex;
    align-items: center;
}
.song-img{
    width: 65px;
    height: 65x;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(215, 0, 0, 0.2); /* Adjust border properties as needed */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Adjust animation properties as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.song-img.loading .loader {
  display: block;
}

.song-img .loader {
  display: none;
}

/* Apply the animation to the image when the 'rotate' class is added */
.rotate {
    animation: rotateImage 60s linear infinite; /* Adjust duration and timing function as needed */
}
.audio-player{
display: grid;
grid-template-rows: 1fr ;
}
  .controls {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

  }
  

  .progress-bar {
    position: relative;
    height: 2px;
    background-color:#00ff26 ;
    box-shadow: 0 0 40px #00ff26, 0 0 80px #00ff26, 0 0 120px #00ff26, 0 0 160px #00ff26, 0 0 200px #00ff26, 0 0 240px #00ff26, 0 0 280px #00ff26;
}


  
  
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
 
.repeat-button {
    background: none;
    border: none;
    cursor: pointer;
}

.queue-button {
  display: none; /* Hide the button by default */
}

.cross-button {
  display: none; /* Hide the cross button by default */
}
  
/* For mobile devices */
@media screen and (max-width: 767px) {
  .all{
    display: block;
  }
  .container {
    display: grid;
    grid-template-columns:1fr;
    height: calc(100vh - 20vh);
  }
    
  .left, .right {
  
    display: grid;
    grid-template-rows: 1fr;
  }
  .right{
    margin-left: 10px;
  }
  .nav {
      margin:10px;
  }
  .nav{
    display: flex;
    align-items: center;
    
    
    }
    .local {
      display: none;

  }

  .local{
    max-height:calc(100vh - 20vh);
    margin: 10px;
    max-width: calc(100vw - 20px);

  }

  .noun-project-icon{
    display: flex;
    justify-content: space-between;

  }
  .home{
    font-size: 18px;
  }
  .search {
      width: 28%;
      left:0;
  }
  #searchInput {
    width: 100%;
    height: 5px;
    padding: 10px 40px ; /* Adjust padding to accommodate the icon */
    border: 1px solid #00000000;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    margin-left:0 ;
    color: white;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
  }
  #queue{
    position: fixed;
    margin-bottom: 10px;
  }
  #crossButton{
    position: fixed;
    margin-left: 80%;
    margin-top: 10px;
  }
  .Queue-list{
    margin-top: 8vh;
  }
  .song-box {
      justify-content: space-around;

      
  }

  .song {
      width: 90%;
  }

  .end {
    display: grid;
    height: calc(100vh - 87vh);
    grid-template-columns: 1fr;
    width: 95%;
  }
  .song-img{
    width: 45px;
    height: 45x;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
  #song-name{
    margin: 20px;
    margin-top:3px;
    margin-bottom: 2px;
  }
  #artist-name{
      margin: 20px;
      margin-top:3px;
      margin-bottom: 2px;
    }
  
  .player{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0;
  }
  .songs-buttons{
    display: none;
  }
  .audio-player{
    display: grid;
    grid-template-rows: 0;
    }
    .controls {
    
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
    }
    .queue-button {
      display: block;
  }

  .cross-button {
      display: none;
  }

  .local.active .cross-button {
      display: block;
  }

}

/* For tablets and larger devices */
@media screen and (min-width: 768px) and (max-width: 1439px){
  .all {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }

  .left, .right {
    display: grid;
    grid-template-rows: 1fr 4fr;
  }

  .right {
    margin-left: 10px;
  }

  .nav {
    margin: 10px;
  }

  .local{
    margin-right: 10px;
  }

  .search {
    width: 70%;
  }
  #searchInput{
    width: 70%;
    margin-left: 30px;
  }
  
  #queue {
    margin-bottom: 10px;
  }

  .song-box {
    justify-content: center;
  }

  .song {
    width: 250px;
  }

  .end {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .song-img {
    width: 65px;
    height: 65x;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

  #song-name {
    margin: 20px;
    margin-top: 3px;
    margin-bottom: 2px;
  }

  #artist-name {
    margin: 20px;
    margin-top: 3px;
    margin-bottom: 2px;
  }

  .player {
    display: grid;
    grid-template-columns: 1fr;
  }

  .songs-buttons {
    display: flex;
  }

  .audio-player {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 1028px) and (max-width: 1400px)
{
  .all{
    display: flex;
  }
  .container {
    display: grid;
    grid-template-columns:1fr;
    height: calc(100vh - 10vh);
  }
    
  .left, .right {
  
    display: grid;
    grid-template-rows: 1fr;
  }
  .right{
    margin-left: 10px;
    margin-top: 0;
  }
  .nav {
      margin:5px;
      margin-bottom: 5px;
      height: 10vh;
  }
  .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
  .local{
    max-height:180px;
    margin-right: 10px;
    margin-top: 2px;

  }
  .home{
    font-size: 18px;
  }
  .search {
      width: 28%;
      left:0;
  }
  #searchInput {
    width: 100%;
    height: 5px;
    padding: 10px 40px ; /* Adjust padding to accommodate the icon */
    border: 1px solid #00000000;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    margin-left:0 ;
    color: white;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
  }
  #queue{
  
    margin-bottom: 10px;
  }
  .song-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }

  .song {
    width:25vh;
  }

  .end {
    display: grid;
    height: calc(100vh - 90vh);
    grid-template-columns: 1fr;
    width: 95%;
  }
  .song-img{
    width: 45px;
    height: 45x;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
  #song-name{
    margin: 20px;
    margin-top:3px;
    margin-bottom: 2px;
  }
  #artist-name{
      margin: 20px;
      margin-top:3px;
      margin-bottom: 2px;
    }
  
  .player{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0;
  }
  .songs-buttons{
    display: none;
  }
  .audio-player{
    display: grid;
    grid-template-rows: 0;
    }

}
