body {
    background-color: rgb(0, 0, 0);
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrolling on the entire page */
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 15vh); /* Set container height to viewport height */
}

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(244, 244, 244);
}
#devkrish{
  margin-left: 120px;
  margin-top:0;
  margin-bottom: 0;
}
h1{
  margin-top:10px;
  margin-bottom: 0;
}
.left {
    display: grid;
    grid-template-rows: 1fr 6fr;
    overflow: auto; /* Add scrollbar if content overflows */
    position: relative; /* Adjust position */
    z-index: 2; /* Ensure it's above the .end div */
 
}

.nav,
.local {
    background-color: rgb(36, 36, 36);
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    
}
.local{
  height: calc(100% - 100);
  margin-top: 0;
}

.home{
  display: flex;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin:10px;
  margin-left:20px ;
}
.search {
  position: relative;
  width: 50%; /* Adjust width as needed */
  
}

#searchInput {
  width: 100%;
  height: 5px;
  padding: 10px 40px ; /* Adjust padding to accommodate the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  margin-left: 20px;
  color: white;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.qbox{
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;

}
.q-img-container{
  width: 150px;
}

.q-img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.qdetails{
  width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    margin-left: 0;
    padding-left: 4%;
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    position: relative; /* Adjust position */
    z-index: 2; /* Ensure it's above the .end div */
}

.song-box {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.song {
  position: relative;
  border: 1px solid #ccc;
  
}

.song-options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.options {
  display: none;
  position: absolute;
  width: 120px;
  top: 2px;
  right: 6px;
  background-color: #41414179;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu:hover .options {
  display: block;
}

.options div {
  padding: 5px 10px;
  cursor: pointer;
}

.options div:hover {
  background-color: #f0f0f0;
}

#Add-to-Queue,#play-now{
  font-size: 12px;
}

.song img{
    width: 90%;
    object-fit: cover;
    border-radius: 10px;

}



.end {
    position: fixed; /* Fix the div at the bottom of the viewport */
    bottom: 0; /* Adjust distance from the bottom */
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    max-height: calc(100vh - 40px); /* Set maximum height to fit remaining viewport minus margins */
    width: calc(100% - 20px); /* Adjust width to fit viewport minus margins */
    margin: 10px;
}
.player{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;

    padding: 10px;
    
    border-radius: 10px;
}
.current-song{
    display: flex;
    align-items: center;
}
.song-img{
    width: 65px;
    height: 65x;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the image when the 'rotate' class is added */
.rotate {
    animation: rotateImage 60s linear infinite; /* Adjust duration and timing function as needed */
}
.audio-player{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
}
  .controls {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }
  

  .progress-bar {
    position: relative;
    height: 2px;
    background-color:#d9ff00 ;
    box-shadow: 0 0 20px #d9ff00, 0 0 40px #d9ff00, 0 0 80px #d9ff00, 0 0 120px #d9ff00, 0 0 150px #d9ff00, 0 0 200px #d9ff00, 0 0 250px #d9ff00;
}


  
  
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  
